@import url("https://fonts.googleapis.com/css?family=Anton|Asap|Hammersmith+One|Teko&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background: rgb(0, 0, 51);
}

header {
  text-align: center;
  font-family: "Anton", sans-serif;
  font-size: 40px;
  margin: 10px 0 0 0;
  color: white;
}

hr {
  height: 1px;
  background: rgb(0, 130, 207);
}

main {
}

nav {
  margin-bottom: 10px;
  margin-top: 0px;
  padding: 0px;
}

main {
  color: white;
  border: 3px white double;
  border-radius: 20px;
}

.aboutme {
  margin: 0 5px;
  padding-right: 5px;
}

#me {
  padding: 2px;
  padding-left: 5px;
  font-family: "Hammersmith One", sans-serif;
  font-size: 25px;
}

#meinfo {
  text-indent: 40px;
  margin: 0 20px 0 20px;
}

footer {
  margin-top: 5px;
  bottom: 2px;
  position: static;
  color: black;
  background: rgb(0, 130, 207);
  font-weight: 600;
}
footer > p {
  margin: 0px;
  padding: 0px;
}
#email {
  color: blue;
}
